<div>
    <h4>Производственный календарь</h4>

    <form name="monthSettings">
        <div class="month-item"><label>Январь</label> <input ng-model='calendar.month_01' type="text"/></div>
        <div class="month-item"><label>Февраль</label> <input ng-model='calendar.month_02' type="text"/></div>
        <div class="month-item"><label>Март</label> <input ng-model='calendar.month_03' type="text"/></div>
        <div class="month-item"><label>Апрель</label> <input ng-model='calendar.month_04' type="text"/></div>
        <div class="month-item"><label>Май</label> <input ng-model='calendar.month_05' type="text"/></div>
        <div class="month-item"><label>Июнь</label> <input ng-model='calendar.month_06' type="text"/></div>
        <div class="month-item"><label>Июль</label> <input ng-model='calendar.month_07' type="text"/></div>
        <div class="month-item"><label>Август</label> <input ng-model='calendar.month_08' type="text"/></div>
        <div class="month-item"><label>Сентябрь</label> <input ng-model='calendar.month_09' type="text"/></div>
        <div class="month-item"><label>Октябрь</label> <input ng-model='calendar.month_10' type="text"/></div>
        <div class="month-item"><label>Ноябрь</label> <input ng-model='calendar.month_11' type="text"/></div>
        <div class="month-item"><label>Декабрь</label> <input ng-model='calendar.month_12' type="text"/></div>
    </form>

    <h4>данные Redmine</h4>

    <form name="redmineSettings">
        <div class="redmine-item"><label>URL</label> <input ng-model='redmine.link' type="text"/></div>
        <div class="redmine-item"><label>KEY</label> <input ng-model='redmine.key' type="text"/></div>
    </form>
</div>